.element__like {
    margin: 0;
    padding: 0;
    border: none;
    background-image: url(../../../image/Vectorlike.svg);
    width: 22px;
    height: 19px;
    cursor: pointer;
}

.element__like:active {
    color: black;
}