.page {
    position: relative;
    max-width: 1280px;
    background-color: #000000;
    font-family: 'Inter', Arial, sans-serif;
}

@media screen and (max-width: 767px) {
    .page {
        max-width: 320px;
    }
}