.popup__input {
    border: none;
    width: 358px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    margin: 30px auto 0;
    padding: 0;
    border-bottom: 1px solid rgba(0,0,0,0.2);
    padding-bottom: 13px;
}

@media  screen and (max-width: 787px) {
    .popup__input {
        width: 238px;
    }
    
}