.popup-bigpic__pic {
    /* height: 100%; */
    position: relative;
    margin: 0;
    padding: 0;
    display: flex;
    object-fit: cover;
    max-width: 75vw;
    max-height: 75vh;
}
@media  screen and (max-width: 787px) {
    .popup-bigpic__pic {
        /* max-width: 240px;
        max-height: 299px; */
    }   
}