.popup-bigpic__pic {
    border: 1px solid red;
    max-width: 100%;
    height: auto;
    position: relative;
    margin: 0;
    padding: 0;
    display: flex;
}
@media  screen and (max-width: 787px) {
    .popup-bigpic__pic {
        width: 240px;
    }   
}