.header {
    height: 74px;
    margin: 0px 200px 0px 200px;
    padding-top: 45px;
    border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}

@media screen and (max-width: 767px) {
    .header {
        padding-top: 28px;
        margin: 0 auto;
        height: 56px;
    }
}