.popup-bigpic__content {
    display: flex;
    position: relative;
    padding: 0;
    /* max-width: 75vw;
    max-height: 75vh; */
    margin: 0 auto;
    align-self: center;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    z-index: 12;
 
    flex-direction: column;
    box-sizing: border-box;
    /* padding: 40px 40px 0 0; */
}
@media  screen and (max-width: 1023px) {
    .popup-bigpic__content {
        /* max-width: 500px; */
        /* margin: 90px 10px; */
    }   
}

@media  screen and (max-width: 787px) {
    .popup-bigpic__content {
        /* width: 240px;
        height: 299px; */
        /* margin: 135px auto; */
    }   
}