.popup__close {
    background-image: url(../../../image/CloseIcon.svg);
    background-size: cover;
    background-color: #000000;
    border: none;
    width: 32px;
    height: 32px;
    position: absolute;
    top: -40px;
    right: -40px;
    cursor: pointer;
}

.popup__close:hover {
    opacity: 0.6;
}