.profile__button-add {
    border: 2px solid #FFFFFF;
    border-radius: 2px;
    width: 146px;
    height: 46px;
    margin: 0;
    padding: 0;
    margin-left: 244px;
    margin-top: 35px;
    position: absolute;
    right: 0;
}

.profile__button-add:hover {
    opacity: 0.6;
}

@media screen and (max-width: 767px) {
    .profile__button-add {
        grid-row: 7/8;
        grid-column: 2/7;
        width: 282px;
        margin: 0;
        height: 50px;
    }
}