.profile__button-ed-self {
    margin: 0;
    padding: 0;
    background-color: #000000;
    width: 21px;
    height: 21px;
    border: none;
    cursor: pointer;
    grid-column: 5/6;
    grid-row: 3/4;
}

@media screen and (max-width: 767px) {
    .profile__button-ed-self {
        width: 18px;
        height: 18px;
    }
}