.element__trash {
   background-color: rgba(0,0,0,0);
   border: none;
   position: absolute;
   display: flex;
   flex-direction: column;
   align-items: center;
   z-index: 100;
   padding: 0;
   top: 20px;
   right: 20px; 
   cursor: pointer;
}